.doctor-detail-card {
    flex: 0 0 350px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: min-content;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 95px;
    z-index: 1;

    scrollbar-color: #0d4a85 white;
    scrollbar-width: thin;
}

.shifts-list-container {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
}

.doctor-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;
    width: 100%;
    margin: 20px 0;
}

.doctor-image img {
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    -o-object-fit: cover; /* Opera/Firefox fallback */
    max-width: 200px;
    max-height: 200px;
}

.doctor-info {
    flex: 1;
}

.doctor-name-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.doctor-auth-button {
    margin-left: 5px;
    padding: 8px 15px;
    background-color: #256395;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.doctor-auth-button:hover {
    background-color: #0e3b6b;
}

.doctor-auth-button.auth {
    background-color: #e60202;
}

.doctor-auth-button.auth:hover {
    background-color: #b90101;
}

.doctor-update-button {
    margin-left: 5px;
    padding: 8px 15px;
    margin-top: 10px;
    background-color: #2b962f;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.doctor-update-button:hover {
    background-color: #1e6b22;
}

.doctor-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.doctor-email {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0 0 10px 0;
}

.doctor-insurances-div,
.doctor-specialty-div,
.doctor-address-div,
.doctor-license-div {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 3px 0 0 0;
}

.doctor-insurances-label,
.doctor-specialty-label,
.doctor-address-label,
.doctor-license-label {
    color: black;
    font-weight: 700;
    margin: 0 5px 0 0;
}

.doctor-schedule-title {
    color: black;
    font-weight: 700;
    margin: 15px 0 5px 0;
}

.doctor-insurances,
.doctor-specialty,
.doctor-address,
.doctor-license {
    color: #555;
    margin: 0;
}

.doctor-schedule ul {
    padding: 0 0 0 20px;
    margin: 10px 0 0 0;
}

.doctor-schedule li {
    font-size: 14px;
    color: #777;
    margin: 0 0 2px 0;
}

.doctor-schedule li:last-child {
    margin: 0;
}

.shift-card {
    display: flex;
    flex-direction: row;
    color: black;
}

.appointments-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.appointments-table th, .appointments-table td {
    padding: 12px 15px;
    text-align: left;
}

.appointments-table thead {
    background-color: #0d4a85;
    color: white;
    cursor: default;
}

.appointments-table tbody tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.appointments-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.appointments-table tbody tr:hover {
    background-color: #e9ecef;
}

.appointments-table th {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .appointments-table {
        font-size: 14px;
    }
}

.appointment-data {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0 0 10px 0;
}

.appointment-data-label {
    font-weight: bold;
    margin: 0 5px 0 0;
}

/* Scrollbar compatible with Firefox and WebKit */
.shifts-list-container::-webkit-scrollbar,
.doctor-detail-card::-webkit-scrollbar {
    width: 5px;
}

.shifts-list-container::-webkit-scrollbar-track,
.doctor-detail-card::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}

.shifts-list-container::-webkit-scrollbar-thumb,
.doctor-detail-card::-webkit-scrollbar-thumb {
    background-color: #0d4a85;
    border-radius: 4px;
}

.shifts-list-container::-webkit-scrollbar-thumb:hover,
.doctor-detail-card::-webkit-scrollbar-thumb:hover {
    background-color: #0e3b6b;
}

.shifts-list-container {
    scrollbar-color: #0d4a85 white; /* Firefox */
    scrollbar-width: thin;
}

.access-btn {
    position: relative;
    display: inline-block;
}

.access-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.access-label {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 9999px;
    background-color: var(--clr-card);
    border: 1px solid var(--clr-text-muted);
    font-size: 0.9rem;
    color: var(--clr-text);
    transition: background var(--transition),
    border-color var(--transition),
    color var(--transition);
}

.access-checkbox:checked + .access-label {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
    color: var(--clr-card);
}

.access-btn:hover > .access-label {
    background-color: #ccc;
    border-color: var(--clr-text-muted);
    color: var(--clr-text-muted);
}

.access-btn:hover > .access-checkbox:checked + .access-label {
    background-color: var(--clr-primary-hover);
    border-color: var(--clr-primary-hover);
    color: var(--clr-card);
}