/* Resto de tu CSS para la lista de doctores */
.landing-title {
    margin: 0 0 -5px 0;
}

.doctor-landing-card {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    width: 260px;
    text-align: left;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.clickable-card {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.doctor-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
}

.doctor-image {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.doctor-image img {
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    max-width: 70px;
    max-height: 70px;
}

.doctor-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 1px;
    margin-left: 7px;
    box-sizing: border-box;
}

.doctor-details h3,
.doctor-details p {
    margin: 0;
}

.doctor-schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    gap: 1.5px;
    box-sizing: border-box;
}

.doctor-schedule p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.weekday-tag {
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    box-sizing: border-box;
}

.day-active {
    background-color: #0056b3;
    border-radius: 999px;
    color: white;
    box-sizing: border-box;
}

.no-doctors-message-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    color: #555;
    box-sizing: border-box;
}

.no-doctors-button {
    max-width: fit-content;
    background-color: #007bff;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    margin-top: 7px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
  
.no-doctors-button:hover {
    background-color: #0056b3;
}

.page-navigator-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px 0;
}

.page-navigation-button {
    width: 90px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 3px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.page-navigation-button:hover {
    background-color: #0056b3;
}

.page-navigation-button:disabled {
    background-color: #ccc;
    color: gray;
    cursor: not-allowed;
}

.page-button {
    background-color: white;
    color: #256395;
    border: none;
    padding: 8px 10px;
    margin: 0 3px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}