.patient-card {
    flex: 0 0 350px; /* Fixed width for left box */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: min-content; /* Compatible con ambos navegadores */
    overflow: hidden;
    position: sticky;
    top: 95px;
    z-index: 1;
    box-sizing: border-box; /* Normaliza el modelo de caja */
}

.patient-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
}

.patient-image img {
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
}

.patient-info {
    flex: 1;
    box-sizing: border-box;
}

.patient-name-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.patient-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.patient-email-div,
.patient-telephone-div {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 3px 0 0 0;
    box-sizing: border-box;
}

.patient-email-label,
.patient-telephone-label {
    color: black;
    font-weight: 700;
    margin: 0 5px 0 0;
}

.patient-email,
.patient-telephone {
    color: #555;
    margin: 0;
}

/* Ajustes específicos para navegadores */
@-moz-document url-prefix() {
    /* Correcciones específicas para Firefox si es necesario */
    .patient-card {
        max-height: min-content; /* Asegura consistencia en Firefox */
    }
}