postgresql.db.url=localhost:5432/paw-2025a-15
postgresql.db.name=paw-2025a-15
postgresql.db.pswd=aaaaaaaaa

security.key=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

api.base.url=http://localhost:8080/paw-2025a-15/api

app.base-url=http://localhost:8080/paw-2025a-15/

app.email.from=caretracehealth@gmail.com
app.email.password=password1234
mail.debug=false